/* Sidebar */
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 12rem;
}
#page-content-wrapper {
    min-width: 90vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#page-content-wrapper {
    min-width: 0;
    width: 100%;
    background-color:whitesmoke;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: -12rem;
}

/* Datatable*/
#mydatatable{
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

/*GENERALES*/
/* .navbar{
    padding: 0.5rem;
} */

.contenido{
    margin-top: 10px;
}

.titulo{
    text-align: center;
}

